body {
    font-family: 'Lato', sans-serif;
    background: #A5DBE9; 
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 600px;
    margin: auto;
    text-align: left;
    background: white;
}

#main h1 {
    padding: 10px 14px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    background-color: rgba(52, 73, 94,1.0); 
    /* box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4); */
    color: #fff;
    z-index: 1;
}

.chat-session {
    padding: 12px 12px;
    height: 500px;
    background-color: #f0f0f0;
    overflow: scroll;
    z-index: 1;
}

.message {
    font-size: 12px;
    width: 300px;
    height: 50px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); */
}
.message p {
    margin: 5px;
}

.chat-input {
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.chat-input input[type="text"]{
    width: 492px;
    padding: 6px;
    font-size: 16px;
    color: #666;
}

.chat-input input[type="submit"]{
    font-size: 14px;
    padding: 9px 14px;
    border-radius: 2px;
    border: 0 none;
    background-color: rgba(22, 160, 133,1.0);
    color: #fff;
    margin-left: 6px;
    margin-right: 0;
}
.username {
    font-weight: 700;
    color: rgba(41, 128, 185,1.0);
}
.date {
    font-size: 11px;
    color: #888;
    font-weight: 400;
}
.rooms {
    margin: 6px 0  6px 400px;
}
